/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #030303;
  }
  
  header.banner {
    background-image:url('/assets/images/banner.png');
    background-color: #0b709b5b;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .banner-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .logo img {
    max-width: 150px;
  }
  
  #titulo {
    font-size: 2em;
    margin: 10px 0;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.6em;
  }
  
  #botao {
    border-color: #33A8DB;
    color: #33A8DB;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    background-color: transparent;
    
  }
  
 
  
  main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #030303;
  }
  
  h2 {
    text-align: center;
    color: #33A8DB;
  }
  
  .modules-list .module {
    text-align: center;
    background-color: #3a3838;
    border: solid #33A8DB;
    border-radius: 50px;
    color: #f8f8f8;
    padding: 10px;
    margin: 20px;
    

  }

  #titulo {
    color: #33A8DB;
  }
  
  #alinhamento {
    background-image:url('/assets/images/woman-code.png');
    flex-direction: column;
    text-align: left;
    font-size: 2em;
    color: #33A8DB;
    height: 500px;
    top: 111px;
    left: 198px;
    align-items: center;
  }
  
  section#professional-challenges {
    text-align: center;
  }
  
  section#professional-challenges img {
    max-width: 100%;
    height: auto;
  }
  
  footer {
    background-color: #0b709b5b;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  footer .dio-logo {
    max-width: 100px;
  }
  
  footer a {
    color: #33A8DB;
    text-decoration: none;
  }
  

 